code/SantiagoDemoWithBPEL/src/localhost_8080/axis2/services/ProvideMusicFileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax23="http://services.santiago.fhkoeln.de/xsd" xmlns:ns="http://services.demo.santiago.fhkoeln.de" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.demo.santiago.fhkoeln.de">
    <wsdl:documentation>ProvideMusicFileService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.santiago.fhkoeln.de/xsd">
            <xs:complexType name="IODescriptor">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="descriptorElements" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://services.santiago.fhkoeln.de/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.demo.santiago.fhkoeln.de">
            <xs:import namespace="http://services.santiago.fhkoeln.de/xsd"/>
            <xs:element name="executeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:IODescriptor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:IODescriptor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="input" nillable="true" type="ax24:IODescriptor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setInputRequest">
        <wsdl:part name="parameters" element="ns:setInput"/>
    </wsdl:message>
    <wsdl:message name="getInputRequest"/>
    <wsdl:message name="getInputResponse">
        <wsdl:part name="parameters" element="ns:getInputResponse"/>
    </wsdl:message>
    <wsdl:message name="executeRequest"/>
    <wsdl:message name="executeResponse">
        <wsdl:part name="parameters" element="ns:executeResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProvideMusicFileServicePortType">
        <wsdl:operation name="setInput">
            <wsdl:input message="ns:setInputRequest" wsaw:Action="urn:setInput"/>
        </wsdl:operation>
        <wsdl:operation name="getInput">
            <wsdl:input message="ns:getInputRequest" wsaw:Action="urn:getInput"/>
            <wsdl:output message="ns:getInputResponse" wsaw:Action="urn:getInputResponse"/>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <wsdl:input message="ns:executeRequest" wsaw:Action="urn:execute"/>
            <wsdl:output message="ns:executeResponse" wsaw:Action="urn:executeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProvideMusicFileServiceSoap11Binding" type="ns:ProvideMusicFileServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setInput">
            <soap:operation soapAction="urn:setInput" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInput">
            <soap:operation soapAction="urn:getInput" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap:operation soapAction="urn:execute" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProvideMusicFileServiceSoap12Binding" type="ns:ProvideMusicFileServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setInput">
            <soap12:operation soapAction="urn:setInput" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInput">
            <soap12:operation soapAction="urn:getInput" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap12:operation soapAction="urn:execute" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProvideMusicFileServiceHttpBinding" type="ns:ProvideMusicFileServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="setInput">
            <http:operation location="ProvideMusicFileService/setInput"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setInput"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getInput">
            <http:operation location="ProvideMusicFileService/getInput"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getInput"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getInput"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <http:operation location="ProvideMusicFileService/execute"/>
            <wsdl:input>
                <mime:content type="text/xml" part="execute"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="execute"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProvideMusicFileService">
        <wsdl:port name="ProvideMusicFileServiceHttpSoap11Endpoint" binding="ns:ProvideMusicFileServiceSoap11Binding">
            <soap:address location="http://192.168.92.1:8080/axis2/services/ProvideMusicFileService.ProvideMusicFileServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProvideMusicFileServiceHttpSoap12Endpoint" binding="ns:ProvideMusicFileServiceSoap12Binding">
            <soap12:address location="http://192.168.92.1:8080/axis2/services/ProvideMusicFileService.ProvideMusicFileServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProvideMusicFileServiceHttpEndpoint" binding="ns:ProvideMusicFileServiceHttpBinding">
            <http:address location="http://192.168.92.1:8080/axis2/services/ProvideMusicFileService.ProvideMusicFileServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
